project-pom/.project
project-pom/.settings/

news-pom/.project
news-pom/.settings/

news-web/.project
news-web/.settings/
news-web/.classpath
news-web/target/

news-service/.project
news-service/.settings/
news-service/.classpath
news-service/target/

news-persistence/.project
news-persistence/.settings/
news-persistence/.classpath
news-persistence/target/

news-domain/.project
news-domain/.settings/
news-domain/.classpath
news-domain/target/

fw-pom/.project
fw-pom/.settings/

fw-web/.gwt/
fw-web/.project
fw-web/.settings/
fw-web/.classpath
fw-web/target/

fw-service/.project
fw-service/.settings/
fw-service/.classpath
fw-service/target/

fw-persistence/.project
fw-persistence/.settings/
fw-persistence/.classpath
fw-persistence/target/

fw-domain/.project
fw-domain/.settings/
fw-domain/.classpath
fw-domain/target/

portal-pom/.project
portal-pom/.settings/

portal-web/.project
portal-web/.settings/
portal-web/.classpath
portal-web/target/

games-pom/.project
games-pom/.settings/

games-web/.project
games-web/.settings/
games-web/.classpath
games-web/target/

